nav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  button {
    cursor: pointer;
    border: 2px solid rgb(65, 65, 65);
    padding: 0.5rem;
    background: transparent;
    transition: all 0.3 ease;
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
    h2 {
      padding: 2rem;
    }
  }
}
